@media screen and (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
        .skills-bottom {
            margin: 3em auto;
            height: 80vh;
        }

        .skills-item {
            align-items: center;
            padding: 10px;
        
        h2 {
            font-size: 3em;
            margin-bottom: 60px;
        }
        .icon img{
            margin-bottom: 150px;
        }

        a {
            position: relative;
            background: #ddd;
            color: #262626;
            padding: 5px 10px;
            margin: 0 auto;
            width: 100%;
        }
        ul li {
            font-size: 1.1em;
        }
    }

    }

   

}