@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=New+Tegomin&family=Spectral&display=swap');
@import 'variables';
@import 'mixins';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  
    background-image: url(../anaya-katlego-ZWQduAnJ8cg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;



    .skills-bottom {
        position: relative;
        width: 80%;
        height: 70vh;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em auto;
        border-radius: 5px;
        background: transparent;
        color: #eee;
        // border: 1px solid rgba(185, 182, 182, 0.521);
        backdrop-filter: blur(3px);
        // transform: rotateY(40deg);
        box-shadow: -25px 10px 10px rgba(0, 0, 0, 0.822);
        // animation: swing 4s linear infinite;
        transform-style: preserve-3d;
        transition: 1s ease;

        &:hover {
            transform: rotateY(40deg) rotateX(10deg);

        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            box-shadow: inset 4px 4px 5px #000a,
                        inset -4px -4px 5px #ddda;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            border-radius: 5px;
            transition: .5s ease;
            box-shadow: inset 4px 4px 5px #ddda,
                inset -4px -4px 5px #000a;
        }
        &:hover {
            
            &::before {
                opacity: 0;
            }
            &::after {
                opacity: 1;
            }
        }
    }
    @keyframes swing {
        50% {
            transform: rotateY(-30deg);
            box-shadow: 35px 15px 3px rgba(0, 0, 0, 0.822);
        }
    }

    .skills-item {
        max-width: 90%;
        height: 100%;
        background: transparent;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        z-index: 2;
        cursor: pointer;
        transform-style: preserve-3d;
    }

    .skills-item h2 {
        position: relative;
        display: inline-block;
        font-size: 3em;
        transition: .5s;
        transform-origin: left;
        font-family: 'Spectral', serif;
        text-shadow: 3px 3px 2px #000;
        transform-style: preserve-3d;
    }
    .skills-item:hover.skills-item h2 {
        transform: translateZ(3em) ;
    }
    /*scroll animation*/
    section .skills-item h2[data-scroll="in"] {
        transform: scaleX(1);
    }

    .skills-item h2::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg, #333, #000);
        // background: #333;
        border: 1px solid rgb(112, 111, 111);
        border-radius: 10px;
        transform-origin: right;
        transition: 0.5s;
    }

    section .skills-item h2[data-scroll="in"]::before {
        transform: scaleX(0);
        transition-delay: .5s;
    }

    .icon {
        i {
            background-image: $icon-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;



            position: relative;
            margin: 10px auto;
            font-size: 5em;
            display: block;
            width: 100%;
            transition: 1s;
            transform-origin: right;
            opacity: 0;
        }
    }

    
    .skills-item .icon i[data-scroll="in"] {
        opacity: 1;
        transition-delay: 1s;
    }


    .skills-item a {
        position: relative;
        background: #ddd;
        color: #262626;
        padding: 15px 30px;
        font-size: 1em;
        display: inline-block;
        text-decoration: none;
        font-weight: 700;
        transition: 1s;
        transform: translateX(100px);
        opacity: 0;
        border-radius: .5em;
        font-family: 'New Tegomin', serif;

        &::before {
            position: absolute;
        }
    }

    .skills-item a[data-scroll="in"] {
        transform: translateX(0px);
        transition-delay: 1s;
        opacity: 1;
    }


    .skills-item ul li {
        position: relative;
        color: #ddd;
        font-size: 1.3em;
        margin: 10px;
        transition: 1s;
        transform: scaleX(0);
        font-family: 'Mukta', sans-serif;
        text-align: left;

        
    }

    section .skills-item ul li[data-scroll="in"] {
        transform: scaleX(1);
        transition-delay: .5s;

    }


    .skills-item ul li::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg, #333, purple);
        transform-origin: left;
        transition: 0.5s;
    }

    section .skills-item ul li[data-scroll="in"]::before {
        transform: scaleX(0);
        transition-delay: 1s;
    }
    section .skills-item ul li{
        padding-left: .5em;
    }
    li::marker {
        color: #ddd;
        transition: color 1s;
        font-size: .8em;
        content: '\f1c9';
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        margin-right: 20px; 
      }
    
}

footer {
    padding: 10px 0;
    background: #000;
    color: #fff;
    font-size: 1em;
    text-align: center;
    
}

@import 'mobile';




